/*Styling the font*/
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13pt;
}
h3 {
  text-align: center;
}
#Title_group {
  text-align: left;
}

/*Inserting a banner*/
.banner {
  background-image: url('banner.png');
  width: 100%;
  height: 80px;
}

/*Styling the NavBar*/
nav {
  width: 100%;
  background-color:rgb(0, 0, 0);
  overflow: hidden;
  display: block;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo img {
  width: auto;
  height: 1.5em;
  object-fit: cover;
}
.logo, ul.menu li {
  float: left;
}
nav a {
  width: 8em;
  height: 1em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav li:hover {
  background-color: rgb(118, 32, 71);
  transition: 0.5s;
  text-transform: uppercase;
}
.logo:hover{
  cursor: default;
}

/*Styling main heading aka "Extra cool stuff*/
#main-heading {
  padding-top: 1cm;
  position: relative;
  text-align: center;
  color: rgb(255, 0, 140);
  left: 50%;
  font-size: 2em;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
  transform: translate(-50%, -50%); /*This tag allows to reflect the shadow relative to diagonal line text-shadow: 2px 2px rgb(0, 0, 0);*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-heading:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

/*Styling articles as ppt slides*/
article {
  background-color: hsl(330, 100%, 95%);
  width: 80%;
  border: 1px solid black;
  padding: 2em 1em 2em 1em;
  border-radius: 5px;
  margin: 15px auto;
  box-sizing: border-box;
}

/*Styling Task Section*/
.task_img {
  float: left;
  width: 20%;
  height: auto;
  padding-right: 30px;
}

/*Group photo*/
#group_photo {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.members {
  list-style-type: none;
  text-align: center;
}

/*Styling Important Deadlines section*/
#Important {
  color: rgb(32, 21, 183);
  text-shadow: 2px 2px #808080;
  font-size: 2em;
  text-transform: uppercase;
}
#Important:hover {
  color: red;
  text-shadow: -2px -2px #808080;
}

/*Some Dummy Content styling*/
.SDC1 {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}
.SDC {
  display: block;
  background-color: rgb(221, 233, 244);
  width: 100%;
  border: 1px solid rgb(26, 19, 79);
  padding: 1em 1em;
  border-radius: 2em;
  margin: 1em 0em 1em 1em;
  box-sizing: border-box;
}

/*Styling footer*/
h5 {
  font-size: 1em;
}
.footer{
  margin-top: 0;
  width: 100%;
  padding: 0;
  background: rgb(0, 0, 0);
  display: flex;
}

.footer div{
  text-align: center;
}

.listofcategories{
  list-style-type: none;
  padding-left: 0;
}
.test1, .test2{
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.listofitems{
  list-style-type: none;
  padding-left: 0%;
}

.col-1{
  flex-grow:0.3;
}
.col-2{
  flex-grow:0.3;
}
.col-3{
  flex-grow:0.3;
}

.footer div h5{
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
  color: #efefef;
}

.col-2 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.col-3 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.col-1{
  color: #efefef;
}

.col-1 a{
  color: #efefef;
}
.listofcategories li:hover {
  background-color: rgb(118, 32, 71);
  transition: 0.5s;
}
.listofitems li:hover {
  background-color: rgb(118, 32, 71);
  transition: 0.5s;
}


/*grading*/
table,th,td {
  border: rgb(0, 0, 0) solid 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  background-color:#eee;
}
th, td {
  padding: 5px 20px;
}

/*requirements*/
#heh {
  border: solid 2px olive;
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
  flex-wrap: wrap;
}

.req{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}



/*Tablet version*/
@media screen and (min-width:768px) and (max-width: 1023px) {
  body {
    width: 100%;
    background-color: rgb(160, 167, 246);
  }

  table,th,td 
  {
    width:100%;
    padding: auto;
    background-color: beige;
    align-items: center;
  }

 html 
 {
  font-size:1em;
 }

 .logo, ul.menu li
 {
  flex:auto
 }

 
 article {
  background-color: hsl(330, 71%, 97%);
  width: 80%;
  border: 1px solid black;
 }


 img {
  max-width: 100%;
  height: auto
}

.SDC1 {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}
/*
.SDC {
  display: block;
  background-color: beige;
  width: 80%;
  border: 1px solid rgb(26, 19, 79);
  padding: 1em 1em;
  border-radius: 2em;
  margin: 15px auto;
  box-sizing: border-box;
}*/

.SDC {
  background-color: rgb(221, 233, 244);
  width: 30%;
  border: 1px solid rgb(26, 19, 79);
  padding: 25px 25px;
  border-radius: 2px;
  margin: 15px 0px 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

nav a 
{
  width:100%;
  align-items: center;
}

nav ul li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

a.logo {
  padding: 14px 0px;
}

#main-heading{
  font-size: 1.7em;
}


.footer{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}
.col-1{
 
  width:100%;
}

.col-2{
 
  width:100%;
}

.col-3{
 
  width:100%;
}
}

/*Mobile version*/
@media screen and (min-width: 300px) and (max-width: 767px) {
  body {
    width: 100%;
    background-color: aquamarine;
  }

  table,th,td 
  {
    width:90%;
    padding: auto;
    background-color: beige;
    align-items: center;
  }

 html 
 {
  font-size:0.7em;
 }

 .logo, ul.menu li
 {
  flex:auto
 }

 
 article {
  background-color: hsl(330, 100%, 95%);
  width: 70%;
  border: 1px solid black;

  
 }


 img {
  max-width: 100%;
  height: auto
}

.SDC1 {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}

.SDC {
  display: block;
  background-color: beige;
  width: 80%;
  border: 1px solid rgb(26, 19, 79);
  padding: 1em 1em;
  border-radius: 2em;  
  margin: 15px auto;
  box-sizing: border-box;
}

nav a 
{
  width:100%;
  align-items: center;
}

nav ul li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.logo {
  max-width: 93%;
}



#main-heading{
  font-size: 1.7em;
}


.footer{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}
.col-1{
 
  width:100%;
}

.col-2{
 
  width:100%;
}

.col-3{
 
  width:100%;
}
}